
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00004f;
    color: #ffffff;
    font-family: "Nunito", sans-serif;
}

/* header */
#main-header {
    width: 100%;
    background-color: #00004f;
}

#main-header a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.35s ease;
    display: block;
}

#main-header a:hover {
    color: #56CFE1;
}

#main-header ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* 
    da 0 a 767px => mobile
    da 768px a 1023px => tablet
    da 1024px in poi => desktop
*/

@media only screen and (min-width: 1024px) {
    #main-header a {
        font-size: 18px;
    }
}

/* end header */

/* hero */
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("images/space.webp");
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero .title {
    font-size: 52px;
}

.hero .title span {
    color: #56CFE1;
}

.hero .ufo {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

@keyframes rocketAnim {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0);
    }
}

.rocket {
    animation: rocketAnim 2s ease infinite alternate;
}

@media only screen and (min-width: 1024px) {
    .hero .title {
        font-size: 74px;
    }
}
/* end hero */

